<h2 align="center"><b>ADD FORM</b></h2>
<form [formGroup]="createForm" >
  <table style="border: 1px solid black" align="center">
    <tr>
      <td>Title</td>
      <td><input id="title" type="text" formControlName="title"></td>
    </tr>
    <div><p *ngIf="createForm.controls['title'].hasError('required')" style="color:red">trường này bắt buộc nhập</p></div>
    <div><p *ngIf="createForm.controls['title'].hasError('minlength')" style="color:red">độ dài input > 3</p></div>
    <tr>
      <td>Author</td>
      <td><input type="text" formControlName="author"></td>
    </tr>
    <div><p *ngIf="createForm.controls['author'].hasError('required')" style="color:red">trường này bắt buộc nhập</p></div>
    <div><p *ngIf="createForm.controls['author'].hasError('minlength')" style="color:red">độ dài input > 3</p></div>
    <tr>
      <td>Description</td>
      <td><textarea cols="30" rows="10" type="text" formControlName="description"></textarea></td>
    </tr>
    <div><p *ngIf="createForm.controls['description'].hasError('required')" style="color:red">trường này bắt buộc nhập</p></div>
    <div><p *ngIf="createForm.controls['description'].hasError('minlength')" style="color:red">độ dài input > 3</p></div>
    <tr>
      <td colspan="2" align="center"><button class="button" (click)="create()">Add</button></td>
    </tr>
  </table>
</form>
<div align="center" style="margin-top: 20px">
  <a class="button" routerLink="">Thoát</a>
</div>
